/*  */
* {
  font-family: "Roboto", sans-serif;
}
/* NAVBAR */
nav a,
nav li {
  font-weight: 500;
  font-size: 16px;
}
.navbar {
  transition: all 0.4s;
}

.navbar .nav-link {
  color: #fff;
}
.nav-item {
  padding: 5px 10px;
}
.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #000;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #f12711;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #f12711;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    background: #fff;
  }

  .navbar .navbar-brand,
  .navbar .nav-link {
    color: #555;
  }
}
.text-small {
  font-size: 0.9rem !important;
}

body {
  background-color: #f12711;
}

.slider {
  margin-top: 60px;
}
/* Home */
.home-main {
  background-color: #fff;
}
.home-infor {
  padding: 0 250px;
}
.home-infor-title {
  font-size: 20px;
  color: #f37125;
}
.home-infor-posts {
  display: flex;
  flex-wrap: wrap;
}
.home-post {
  width: 50%;
  min-height: 100px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
}
.home-post-left {
  min-width: 50%;
}
.post-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.post-title {
  display: block;
  color: #f37125;
  font-size: 18px;
}
.post-des {
  font-size: 14px;
}
/* Form */
.video {
  width: 550px;
  height: 390px;
}
.video iframe {
  width: 100%;
  height: 100%;
}
.form__content {
  color: #fff;
}
.form__content__inner {
  background: #f05123;
  padding: 20px;
}
.form-submit {
  color: #f12711;
}
/* Footer */
.footer {
  font-size: 12px;
  padding-top: 70px;
}
.footer-line {
  width: 100%;
  height: 1px;
  background-color: #f05123;
}
.contact-title {
  color: #f05123;
  font-size: 16px;
}
